body {
  margin: 0;
  font-family: 'Poppins', Arial, sans-serif;
  background: linear-gradient(to right, #3a002b, #310054); /* ✅ caminho da imagem */
  background-size: cover;       /* cobre toda a tela */
  background-position: center;  /* centraliza a imagem */
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
  scroll-behavior: smooth;
  
}

header img {
  width: 190px;
  margin-top: 20px;
}

h1 {
  font-size: 2.5em;
  margin: 20px 0;
}

p {
  max-width: 800px;
  margin: 0 auto 30px;
  font-size: 18px;
  line-height: 1.5;
}

button {
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  background-color: white;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
}

section#portfolio {
  margin-top: 100px;
  padding: 60px 20px;
  background-color: rgba(137, 131, 131, 0.05);
  border-top: 2px solid white;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.card {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  width: 220px;
  padding: 20px;
  text-align: left;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-20px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}

.card img:hover {
  transform: translateY(-10px);
  /* Efeito ao passar o mouse na imagem */
}
